<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="0b1ed5b8-8eb9-4c70-8f97-b40e742f263a"
            Publisher="CN=thomas"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>LlamaCraft</DisplayName>
    <PublisherDisplayName>thomas</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="LlamaCraft.App">
        <VisualElements
            DisplayName="LlamaCraft"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="LlamaCraft"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>